@charset "UTF-8";

fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
em,i,small,caption,th{font-weight:normal;font-style:normal;font-size:100%;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-size:100%;}
q:before,q:after{content:'';}
.clearfix{*zoom:1;}
.clearfix:after{content:"."; display:inline-block;clear:both;visibility:hidden;line-height:0;height:0;}
html,body{width:100%;height:100%;}
a {color: #333;text-decoration: none;}
a img {border: none;}
a,button{ outline:none; border:0;}
input,select{border:1px solid #ccc;}
button::-moz-focus-inner{border:0;padding:0;margin:0;}
textarea,input,button,select{outline:0;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;}
textarea{overflow:auto;resize:none;}
.hide,.none{display: none}
.hidden{visibility: hidden;}
.show,.block{display: block;}
a{text-decoration: none;}
object,embed,video{max-width:100%}
img{vertical-align:middle;}
input:disabled,select:disabled,textarea:disabled{background:#ccc;}
.fl{float: left;}
.fr{float: right;font-size: 14px;}
.w30{width: 250px;}
.w50{width: 250px;}
.w60{width: 250px;}
.w80{width: 250px;}
.w100{width: 250px;}
.w120{width: 250px;}
.w160{width: 250px;}
.w250{width: 250px;}
.w320{width: 250px;}
.w360{width: 360px;}

::-webkit-scrollbar{width: 10px;
    height: 10px;}
::-webkit-scrollbar-track{background: 0 0;}
::-webkit-scrollbar-track-piece{background:#fff;}
::-webkit-scrollbar-thumb{background-color: #ccc; border-radius: 5px;}
::-webkit-scrollbar-thumb:hover{background-color: #868686;}
::-webkit-scrollbar-corner{background:#535353;}
::-webkit-scrollbar-resizer{background:#FF0BEE;}
scrollbar{-moz-appearance:none !important;background:rgb(0,255,0) !important;}
scrollbarbutton{-moz-appearance:none !important;background-color:rgb(0,0,255) !important;}
scrollbarbutton:hover{-moz-appearance:none !important;background-color:rgb(255,0,0) !important;}
/* 隐藏上下箭头 */
 scrollbarbutton{display:none !important;}
/* 纵向滚动条宽度 */
 scrollbar[orient="vertical"]{min-width:12px !important;}
 .red{color: red}
 .b2{color:#4684b2}
.green{color:green;}
 /*
 	1366*768 1440*900 div---如果你是用fixed的div层的高度一定要控制在：520px以内 
 */
 .tmui-ellipsis{display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
 /*阴影层*/
.tzui-loading-overlay,.tmui-overlay,.tm-ui-overdisplay{width:100%;height:100%;background-color:#141414;position:fixed;top:0;left:0;z-index:99;filter:alpha(opacity=58);-moz-opacity:0.58;-khtml-opacity:0.58;opacity:0.58;}

/*imgbox*/
#tm-auto-play{color:#000;}
#tm-box-loading{position:absolute;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;}
#tm-box-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('../images/imgbox/tm_image_box.png');}
#tm-box-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none;}
#tm-box-tmp{padding:0;margin:0;border:0;overflow:auto;display:none;}
#tm-box-wrap{position:fixed;top:0;left:0;padding:20px;z-index:105;outline:none;display:none;}
#tm-box-outer{position:relative;width:100%;height:100%;background:#fff;box-shadow:0px 0px 3em #333;-webkit-border-shadow:0px 0px 3em #333;-moz-border-shadow:0px 0px 3em #333;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
#tm-box-content{width:0;height:0;padding:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0px solid #fff;border-top-left-radius:4px;}
#tm-box-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101;}
#tm-box-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0;}
#tm-box-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;}
#tm-box-frame{width:100%;height:100%;border:none;display:block;}
#tm-box-left,#tm-box-right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;z-index:1102;display:none;background:url('../images/imgbox/tm_image_boxblank.gif');}
#tm-box-left{left:0px;}
#tm-box-right{right:0px;}
#tm-box-left-ico,#tm-box-right-ico{position:absolute;top:50%;left:-9999px;width:28px;height:30px;margin-top:-15px;cursor:pointer;z-index:1105;display:block;}
#tm-box-left-ico{background-image:url('../images/imgbox/tm_image_box.png');background-position:-40px -30px;}
#tm-box-right-ico{background-image:url('../images/imgbox/tm_image_box.png');background-position:-40px -60px;}
#tm-box-left:hover,#tm-box-right:hover{visibility:visible;/* IE6 */
}
#tm-box-left:hover span{left:20px;}
#tm-box-right:hover span{left:auto;right:20px;}
#tm-box-title{font-size:12px;z-index:1102;line-height:24px;text-align:center;}
.tm-box-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative;}
.tm-box-title-outside{padding-top:10px;color:#fff;}
.tm-box-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left;}
#tm-box-title-over{padding:10px;background-image:url('tm_image_box_title.png');display:block;}
.tm-box-title-float{position:absolute;left:0;bottom:-20px;height:32px;}
#tm-box-title-float-wrap{border:none;border-collapse:collapse;width:auto;}
#tm-box-title-float-wrap td{border:none;white-space:nowrap;}
#tm-box-title-float-left{padding:0 0 0 15px;background:url('tm_image_box.png') -40px -90px no-repeat;}
#tm-box-title-float-main{color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('../images/imgbox/tm_image_boxx.png') 0px -40px;}
#tm-box-title-float-right{padding:0 0 0 15px;background:url('tm_image_box.png') -55px -90px no-repeat;}
.tmui-box-close{position:absolute;top:5px;right:5px;width:30px;height:30px;background:transparent url('../images/imgbox/tm_image_box.png') -40px 0px;cursor:pointer;z-index:1103;}
/*#tm-box-close{position:absolute;top:0px;right:0px;width:30px;height:30px;background:transparent url('../images/imgbox/tm_image_box.png') -40px 0px;cursor:pointer;z-index:1103;}*/
.tmui-box-open{position:absolute;top:5px;right:5px;width:30px;height:30px;background:transparent url('../images/imgbox/tm_image_box.png') -40px -90px;cursor:pointer;z-index:1103;}
.tm-box-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001;cursor:move;}
#tm-box-imgs{position:relative;}
#tm-box-bg-n{top:-20px;left:0;width:100%;background-image:url('../images/imgbox/tm_image_boxx.png');}
#tm-box-bg-ne{top:-20px;right:-20px;background-image:url('../images/imgbox/tm_image_box.png');background-position:-40px -162px;}
#tm-box-bg-e{top:0;right:-20px;height:100%;background-image:url('../images/imgbox/tm_image_boxy.png');background-position:-20px 0px;}
#tm-box-bg-se{bottom:-20px;right:-20px;background-image:url('../images/imgbox/tm_image_box.png');background-position:-40px -182px;}
#tm-box-bg-s{bottom:-20px;left:0;width:100%;background-image:url('../images/imgbox/tm_image_boxx.png');background-position:0px -20px;}
#tm-box-bg-sw{bottom:-20px;left:-20px;background-image:url('../images/imgbox/tm_image_box.png');background-position:-40px -142px;}
#tm-box-bg-w{top:0;left:-20px;height:100%;background-image:url('../images/imgbox/tm_image_boxy.png');}
#tm-box-bg-nw{top:-20px;left:-20px;background-image:url('../images/imgbox/tm_image_box.png');background-position:-40px -122px;}
#tm-box-content{border-width:10px;}
.tmui-select{width:120px;height:35px;border-radius:4px;}
.tm-box-play{background:url("../images/imgbox/tm_imagex_boxfullscreen.png");