<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>krry_musicblog</display-name>
 
 	<display-name>moonvip</display-name>
 	<!-- 加载applicationContext到WebApplicationContext容器中进行管理 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
 	<!-- 关于post请求乱码问题-->
	 <filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
 	<!-- 第一步：springmvc的配置 -->
 	<servlet>
 		<servlet-name>krry_musicblog</servlet-name>
 		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 		<init-param>
 			<param-name>namespace</param-name>
 			<param-value>krrymvc</param-value>
 		</init-param>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>krry_musicblog</servlet-name>
 		<url-pattern>*.do</url-pattern>
 	</servlet-mapping>

  <welcome-file-list>
    <welcome-file>/blog/index.do</welcome-file>
  </welcome-file-list>
</web-app>